## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,3,Presidencia Roque Saenz Pena,AR,85.60,few clouds,-26.7852,-60.4388,Hotel Gualok
1,4,Vaini,TO,75.36,light rain,-21.2000,-175.2000,Keleti Beach Resort
2,11,Hithadhoo,MV,82.69,few clouds,-0.6000,73.0833,Scoop Guest House
3,14,Caravelas,BR,84.85,clear sky,-17.7125,-39.2481,Pousada dos Navegantes
4,15,Nieuw Amsterdam,SR,87.82,scattered clouds,5.8833,-55.0833,Hotel Stardust

In [6]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [7]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]== "Illapel"]
vacation_end = vacation_df.loc[vacation_df["City"]== "Illapel"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]== "San Juan"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]== "Bell Ville"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]== "San Martin"]

In [21]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[['Lat','Lng']].to_numpy()
end = vacation_end[['Lat','Lng']].to_numpy()
stop1 = vacation_stop1[['Lat','Lng']].to_numpy()
stop2 = vacation_stop2[['Lat','Lng']].to_numpy()
stop3 = vacation_stop3[['Lat','Lng']].to_numpy()

start_coordinates = (start[0][0],start[0][1])
end_coordinates = (end[0][0],end[0][1])
stop1_coordinates = (stop1[0][0],stop1[0][1])
stop2_coordinates = (stop2[0][0],stop2[0][1])
stop3_coordinates = (stop3[0][0],stop3[0][1])

start_coordinates

(-31.6308, -71.1653)

In [22]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
directions = gmaps.directions_layer(start_coordinates, end_coordinates, 
                waypoints=[stop1_coordinates, stop2_coordinates, stop3_coordinates], travel_mode= "DRIVING")
fig.add_layer(directions)
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end], ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,196,Illapel,CL,85.59,clear sky,-31.6308,-71.1653,Hotel Londres
1,556,San Juan,AR,79.70,clear sky,-31.5375,-68.5364,Hotel Provincial
2,402,Bell Ville,AR,78.13,clear sky,-32.6259,-62.6887,Hotel Central
3,642,San Martin,AR,77.54,clear sky,-33.0810,-68.4681,Finca Vivencias
4,196,Illapel,CL,85.59,clear sky,-31.6308,-71.1653,Hotel Londres

In [24]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Weather</dt><dd>{Description}, {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [58]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(-29.0, -50.0), zoom_level=4.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))